<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artificial Inteligence and Machine Learning</title>
    <link href='https://fonts.googleapis.com/css?family=Squada One' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="templateStyles.css">
</head>

<body>
    <nav>
        <div class="site-name">Career Pathways Hub</div>
        <div>
            <a href="#fields">Fields</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </nav>
    <div class="header container-fluid">
        <h1>Artificial Inteligence and Machine Learning</h1>
    </div>
    <div class="curved_rectangle">
        <p>Artificial Intelligence (AI) and Machine Learning (ML)
            are transformative technologies that are reshaping industries
            by enabling machines to perform tasks that typically require
            human intelligence. This includes tasks such as speech recognition,
            decision-making, visual perception, language translation, and more.
            The field of AI/ML is interdisciplinary, involving computer science,
            mathematics, statistics, and domain-specific knowledge. It is a
            demanding field that requires expertise in algorithms, data structures
            and programming languages like python.
        </p>
    </div>

    <!--    Better Carousel -->
    <div class="container">
        <h2 class="text-center">Jobs in This Field</h2>
        <div class="row center text-center align-items-center border border-white">
            <div class="col box">
                <div class="details">
                    <h3>Big Data Engineer</h3>
                    <p>Specializes in handling and processing large
                        volumes of data for AI/ML applications. They are
                        responsible for aggregating, cleansing, transforming
                        and enriching different types of data so that downstream
                        data consumers; like business analysts or data scientists.
                    </p>
                    <h5>Skills Required</h5>
                    <p>Hadoop, Spark, Abstraction tools like Kubernetes, programming
                        languages and scripting languages like C++, Java, Python.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Data Scientist</h3>
                    <p>A data scientist is a scientist that uses their
                        knowledge of statistics, machine learning and
                        computer science to extract knowledge from the
                        data. They build models to predict future outcomes
                        and solve complex problems.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Statistical analysis, data visualization, Python,
                        machine learning libraries in Python like Pytorch,
                        SciKit Learn, and Tensorflow, R, SQL.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Data Analyst</h3>
                    <p>A data analyst focuses on understanding the past
                        and present using data. They clean, organize, and
                        analyze data to answer specific questions and
                        identify trends. They often create reports and
                        visualizations to communicate their findings to
                        stakeholders
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Strong skills in SQL, data visualization tools
                        like Excel or Tableau, and basic statistical
                        skills. Out of the above three this is the least
                        demanding job.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Natural Language Processing Engineer</h3>
                    <p>Specializes in developing algorithms for processing
                        and understanding human language. A growing job in
                        this field is Prompt Engineering.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Text mining, language models (e.g., BERT, GPT),
                        Python.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Computer Vision Engineer</h3>
                    <p>Focuses on enabling machines to interpret and
                        make decisions based on visual data.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Image processing, convolutional neural networks (CNNs),
                        OpenCV, TensorFlow.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Robotics Engineer</h3>
                    <p>Develops intelligent robots capable of performing
                        complex tasks autonomously.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Robotics software (ROS), sensor integration, machine learning.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Machine Learning Engineer</h3>
                    <p>Focuses on designing, building, and deploying machine learning
                        models. Also includes responsibility for maintaining and
                        improving existing artificial intelligence systems.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Programming in Python, TensorFlow, PyTorch, model optimization,
                        algorithms, cloud computing.
                    </p>
                </div>
            </div>
            <div class="col box">
                <div class="details">
                    <h3>Quant Developer</h3>
                    <p>A quant developer is a software engineer or data scientist who
                        designs, builds, and maintains quantitative trading and investment
                        software. They are responsible for the development of algorithms
                        and models that are used to trade financial instruments, manage
                        risk, and generate returns.
                    </p>
                    <h5>Skills Required:</h5>
                    <p>Proficiency in any language that has machine learning models built
                        into it, python or C++ or R or Java or C#. Quantitative analysis is
                        a must course along with strong knowledge of finance.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="job_duties">
        <h2>Job Duties: </h2>
        <div id="job_duties_card">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/AIML/dataCollection.svg" alt="Implementing">
                        <h3>Data Collection and Preprocessing</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/AIML/dataCollection.svg" alt="Implementing">
                        <h4>Data Collection and Preprocessing</h4>
                        <p>Gathering and preparing data for analysis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/AIML/modelDev.svg" alt="writing code">
                        <h3>Model Development</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/AIML/modelDev.svg" alt="writing code">
                        <h4>Model Development</h4>
                        <p>Training models on datasets and evaluating their performance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/AIML/modelTraining.svg" alt="Implementing">
                        <h3>Model Training and Evaluation</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/AIML/modelTraining.svg" alt="Implementing">
                        <h4>Model Training and Evaluation</h4>
                        <p>Designing and implementing machine learning models and algorithms.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/AIML/featureEng.svg" alt="Implementing">
                        <h3>Feature Engineering</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/AIML/featureEng.svg" alt="Implementing">
                        <h4>Feature Engineering</h4>
                        <p>Selecting and transforming features to improve model performance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/AIML/deployment.svg" alt="Implementing">
                        <h3>Deployment</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/AIML/deployment.svg" alt="Implementing">
                        <h4>Deployment</h4>
                        <p>Integrating models into production systems and ensuring they
                            operate efficiently.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/maintanence.svg" alt="Implementing">
                        <h3>Monitoring and Maintenance</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/maintanence.svg" alt="Implementing">
                        <h4>Monitoring and Maintenance</h4>
                        <p>Continuously monitoring model performance and making
                            necessary adjustments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/research.svg" alt="Implementing">
                        <h3>Research and Development</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/research.svg" alt="Implementing">
                        <h4>Research and Development</h4>
                        <p>Conducting research to advance the state-of-the-art in AI/ML.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/collaboration.svg" alt="Implementing">
                        <h3>Collaboration</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/collaboration.svg" alt="Implementing">
                        <h4>Collaboration</h4>
                        <p>Working with cross-functional teams, including data
                            engineers, software developers, and domain experts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="media/documentation.svg" alt="Implementing">
                        <h3>Documentation</h3>
                    </div>
                    <div class="flip-card-back">
                        <img src="media/documentation.svg" alt="Implementing">
                        <h4>Documentation</h4>
                        <p>Documenting methodologies, experiments, and outcomes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- I have used bootstrap here -->
    <div class="container">
        <!-- The Squada One Font has been included in the header -->
        <h2 class="text-center">How to Become One</h2>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home"> Qualification Details</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile"> Technical Skills </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages"> Development Tools </a>
                    <a class="list-group-item list-group-item-action" id="list-certificates-list" data-toggle="list"
                        href="#list-certificates" role="tab" aria-controls="certificates"> Certifications </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings"> Soft Skills </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list"> <b>Degree Programmes: </b>A Bachelor’s in Computer Science,
                        Data Science, Statistics, Mathematics, or a related field is a minimum requirement. Bigger
                        companies require at least a master's degree in Statistics, AI ML, or Computer Science or any
                        other industry specific course, like finance. Many universities now offer specialized programs
                        in AI and ML. Research oriented companies require a Ph.D. in Statistics, AI ML or Mathematics.
                        <br>
                        <b>Coursework: </b>Essential courses include linear algebra, calculus, probability and
                        statistics, data structures and algorithms, machine learning, deep learning, natural language
                        processing, and AI ethics. Along with some interdisciplinary course such as market analysis in
                        finance.
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        Proficiency in programming, understanding of AI/ML algorithms, experience with AI/ML frameworks
                        and libraries, and a strong mathematical foundation. Working with large datasets and being able
                        to clean them is a must as well.
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        Development tools are essential for AI and ML engineers to build, train, and
                        deploy machine learning models. These tools include programming languages
                        like Python and R, data science tools like Jupyter Notebook, machine
                        learning libraries like TensorFlow and PyTorch, data warehousing tools like
                        Redshift, and cloud platforms like AWS, Azure, and GCP.
                        <br>
                        Additionally, AI and ML engineers require skills such as data wrangling,
                        statistical analysis, and cloud computing. The specific tools and skills
                        needed will vary depending on the specific project and available resources.
                    </div>
                    <div class="tab-pane fade" id="list-certificates" role="tabpanel"
                        aria-labelledby="list-certificates-list">
                        Relevant Industry certifications are a plus. Certifications can be online or offline. Online
                        Certificates need to be from verified sources like:
                        <ol>
                            <li>
                                For Big Data Engineering
                                <ul>
                                    <li>
                                        Cloudera Certified Professional Data Engineer
                                    </li>
                                    <li>
                                        Databricks Certified Data Engineer Professional
                                    </li>
                                    <li>
                                        Google Cloud Certified Professional Data Engineer
                                    </li>
                                    <li>
                                        IBM Data Engineering Professional Certificate
                                    </li>
                                </ul>
                            </li>
                            <li>
                                For Data Science, Analysis
                                <ul>
                                    <li>
                                        Certified Analytics Professional
                                    </li>
                                    <li>
                                        Microsoft Certified: Azure Data Scientist Associate
                                    </li>
                                    <li>
                                        SAS Certified Data Scientist
                                    </li>
                                    <li>
                                        Open Certified Data Scientist
                                    </li>
                                </ul>
                            </li>
                            <li>
                                For Data Science, Analysis
                                <ul>
                                    <li>
                                        Certified Analytics Professional
                                    </li>
                                    <li>
                                        Microsoft Certified: Azure Data Scientist Associate
                                    </li>
                                    <li>
                                        SAS Certified Data Scientist
                                    </li>
                                    <li>
                                        Open Certified Data Scientist
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        Continuous Learning is a must in this field as it is rapidly evolving. Problem-solving, critical
                        thinking, teamwork, communication and Attention to detail skills are crucial.
                        <br>
                        AI/ML often intersects with other fields such as biology (bioinformatics), healthcare (medical
                        imaging), and finance (algorithmic trading or quant developer), offering diverse career
                        opportunities
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- I have used bootstrap here -->
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
                <h3>Median Yearly Salary in India(in Rupees)</h3>
            </div>
            <div class="col-5 ">
                <img class="img-fluid" src="media/graph.svg" alt="graph CLipart" />
            </div>
            <div class="col">
                <h3>Median Yearly Salary in USA(in USD)</h3>
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹10,70,000
            </div>
            <div class="col  font-weight-bold">
                Data Engineers
            </div>
            <div class="col " style="color: #ff00aa;">
                $128,512
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹14,40,000
            </div>
            <div class="col  font-weight-bold">
                Data Scientist
            </div>
            <div class="col " style="color: #ff00aa;">
                $123,208
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹5,20,000
            </div>
            <div class="col  font-weight-bold">
                Data Analyst
            </div>
            <div class="col " style="color: #ff00aa;">
                $78,416
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹7,90,000
            </div>
            <div class="col  font-weight-bold">
                NLP Engineer
            </div>
            <div class="col" style="color: #ff00aa;">
                $170,000
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹7,30,000
            </div>
            <div class="col  font-weight-bold">
                Computer VIsion Engineers
            </div>
            <div class="col " style="color: #ff00aa;">
                $166,189
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹4,00,000
            </div>
            <div class="col  font-weight-bold">
                Robotics Engineers
            </div>
            <div class="col " style="color: #ff00aa;">
                $124,188
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹10,00,000
            </div>
            <div class="col  font-weight-bold">
                Machine Learning Engineers
            </div>
            <div class="col" style="color: #ff00aa;">
                $158,857
            </div>
        </div>
        <div class="row py-4">
            <div class="col" style="color: #23DBD7;">
                ₹14,40,000
            </div>
            <div class="col  font-weight-bold">
                Quantitative Developer
            </div>
            <div class="col" style="color: #ff00aa;">
                $142,000
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
            ('.carousel').carousel({
                interval: 1000,
            })
        </script>
    <script type="text/javascript">
        $('.center').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            adaptiveHeight: true,
            accesibility: true,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            pauseOnFocus: true,

            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    </script>
</body>

</html>